.result {
    display: block;
    width: 700px;
    height: 300px;
    border: 1px solid silver;
    margin: 50px auto;
    padding: 10px;
    font-size: 18px;
    color: #444;
}

.keyboard {
    margin: 0 auto;
    width: 700px;
    height: 250px;
    padding: 5px 0;
    background: grey;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard--keys {
    text-align: center;
}

.keyboard--key {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    max-width: 300px;
    margin: 3px;
    border-radius: 4px;
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    vertical-align: top;
}

.keyboard--key:active {
    background:  rgba(136, 206, 24);
    transition: background-color 200ms linear;
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

.active {
    background: rgba(136, 206, 24);
    transition: background-color 200ms linear;
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}


.keyboard--key_wide {
    width: 80px;
}

.keyboard--key_extra_wide {
    width: 309px;
}

.keyboard--key_dark {
    background: rgba(0, 0, 0, 0.15);
}
